/******************************************************************************* 
 * Tree container
 */
div.dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	white-space: nowrap; 
	padding: 3px;
	
	background-color: white; 
	border: 1px dotted gray;
}

/* Style, when control is disabled */
.dynatree-disabled div.dynatree-container
{
	opacity: 0.5;
/*	filter: alpha(opacity=50); /* Yields a css warning */
	background-color: silver; 
}


/******************************************************************************* 
 * Vertical line image
 */
div.dynatree-container img
{
	width: 16px;
	height: 16px;
	margin-left: 3px;
	vertical-align: top;
}

/******************************************************************************* 
 * Common icon definitions
 */
span.dynatree-empty,
span.dynatree-vline,
span.dynatree-connector,
span.dynatree-expander,
span.dynatree-icon,
span.dynatree-checkbox
{
	width: 16px;
	height: 16px;
	display: -moz-inline-box; /* @ FF 1+2 */
	display: inline-block; /* Required, to make a span sizeable */
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left;
}

/******************************************************************************* 
 * Lines and connectors
 */
span.dynatree-empty
{
}
span.dynatree-vline
{
}
span.dynatree-connector
{
}
.dynatree-lastsib span.dynatree-connector
{
}

/******************************************************************************* 
 * Expander icon
 */
span.dynatree-expander
{
	background-image: url("collapsed.gif");
}
span.dynatree-expander:hover
{
	background-image: url("collapsed_hover.gif");
}
.dynatree-lastsib span.dynatree-expander
{
}
.dynatree-lazy span.dynatree-expander
{
}
.dynatree-lazy.dynatree-lastsib span.dynatree-expander
{
}
.dynatree-expanded span.dynatree-expander
{
	background-image: url("expanded.gif");
}
.dynatree-expanded span.dynatree-expander:hover
{
	background-image: url("expanded_hover.gif");
}
.dynatree-expanded.dynatree-lastsib span.dynatree-expander
{
}

/******************************************************************************* 
 * Checkbox icon
 */
span.dynatree-checkbox
{
	margin-left: 3px;
	background-image: url("cbUnchecked.gif");
}
span.dynatree-checkbox:hover
{
	background-image: url("cbUnchecked_hover.gif");
}

.dynatree-partsel span.dynatree-checkbox
{
	background-image: url("cbIntermediate.gif");
}
.dynatree-partsel span.dynatree-checkbox:hover
{
	background-image: url("cbIntermediate_hover.gif");
}

.dynatree-selected span.dynatree-checkbox
{
	background-image: url("cbChecked.gif");
}
.dynatree-selected span.dynatree-checkbox:hover
{
	background-image: url("cbChecked_hover.gif");
}


/******************************************************************************* 
 * Radiobutton icon
 * This is a customization, that may be activated by overriding the 'checkbox'
 * class name as 'dynatree-radio' in the tree options.
 */
span.dynatree-radio
{
	margin-left: 3px;
	background-image: url("rbUnchecked.gif");
}
span.dynatree-radio:hover
{
	background-image: url("rbUnchecked_hover.gif");
}

.dynatree-partsel span.dynatree-radio
{
	background-image: url("rbIntermediate.gif");
}
.dynatree-partsel span.dynatree-radio:hover
{
	background-image: url("rbIntermediate_hover.gif");
}

.dynatree-selected span.dynatree-radio
{
	background-image: url("rbChecked.gif");
}
.dynatree-selected span.dynatree-radio:hover
{
	background-image: url("rbChecked_hover.gif");
}


/******************************************************************************* 
 * Node type icon
 */
span.dynatree-icon
{
	margin-left: 3px;
/*	margin-right: 3px; */
	background-image: url("document.gif");
}

.dynatree-folder span.dynatree-icon
{
	background-image: url("folder.gif");
}

.dynatree-folder.dynatree-expanded  span.dynatree-icon
{
}


/* Status node icons */

.dynatree-statusnode-wait span.dynatree-icon
{
	background-image: url("ltWait.gif");
}

.dynatree-statusnode-error span.dynatree-icon
{
	background-image: url("ltError.gif");
}


/******************************************************************************* 
 * Node titles
 */

/* Remove blue color and underline from title links */
div.dynatree-container a 
{
	color: black; /* inherit doesn't work on IE */
	text-decoration: none;
	vertical-align: top;
	margin: 0px;
	margin-left: 3px;
	/* Set transparent border to prevent jumping when active node gets a border 
	   (we can do this, because this theme doesn't use vertical lines) 
	   */
	border: 1px solid white; /* Note: 'transparent' would not work in IE6 */
}

div.dynatree-container a:hover
{
	text-decoration: underline;
}

span.dynatree-node a
{
	display: inline-block; /* Better alignment, when title contains <br> */  
	padding-left: 3px;
	padding-right: 3px; /* Otherwise italic font will be accross borders */
}
span.dynatree-folder a
{
}


div.dynatree-container a:focus,
span.dynatree-focused a:link  /* @IE */
{
	background-color: #EFEBDE; /* gray */
}


span.dynatree-has-children a
{
	font-style: oblique;
}

span.dynatree-expanded a
{
}

span.dynatree-selected a 
{
	color: green; 
	font-style: italic;
}

span.dynatree-active a
{
	border: 1px solid #99DEFD;
	background-color: #D8F0FA;
/*	color: white !important; /* @ IE6 */
}


/******************************************************************************* 
 * Custom node classes
 */

span.custom1 a
{
	background-color: #ffffbb;
	color: maroon;
}
span.custom1 span.dynatree-icon
{
	background-image: url("doc_with_children.gif");
}

span.custom2 a
{
	font-weight: bold;
	background-color: silver;
	color: navy;
}
span.custom2 span.dynatree-icon
{
	background-image: url("folder_page.gif");
}
