body {
	font-family: sans-serif;

}
ul {
	list-style-type: square;
}

div.codesample {
	border: thin solid gray;
}

div.codesample a {
	text-align: right;
}

div.codesample pre,
pre.codesample
{
	font-family: monospace;
	background-color: f0f0f0;
	padding: 5px;
}

pre.codesample {
	border: thin solid gray;
}

/*****************************************************************************
 * jquery.planize
 */
#toc {
	border: thin solid gray;
	background-color: f0f0f0;
}
#toc ul {
	list-style-type: none; /*square;*/
}

/*****************************************************************************
 * ui.toc
 */
div.ui-toc-container {
	border: thin solid gray;
	background-color: f0f0f0;
}
div.ui-toc-container ul {
	list-style-type: none; /*square;*/
}
div.ui-toc-title {
	font-size: larger;
}
