div.ui-dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 67%; /*smaller;*/
	/*

	white-space: nowrap;
*/
	padding: 3px;

	background-color: white; 
	border: 1px dotted gray;
}

.ui-dynatree-container a,
.ui-dynatree-container a:visited,
.ui-dynatree-container a:active
{
	text-decoration: none;
	color: black;
	outline: 0; /* @ Firefox, prevent dotted border after click */
	padding-bottom: 3px;
	margin-left: 5px;
	padding: 0px 3px 0px 3px;
	vertical-align: text-top;
}
.ui-dynatree-container a:hover
{
	text-decoration: underline;
}
.ui-dynatree-container a:focus,
.ui-dynatree-focused a:link
{
	text-decoration: none;
	background-color: #3169C6;
	color: white !important;
	border: dotted 1px black;
}

.ui-dynatree-expander
{
	cursor: pointer;
}

.ui-dynatree-container img
{
	border-width: 0px;
	width: 16px;
	height: 16px;
}

.ui-dynatree-document,
.ui-dynatree-folder
{
	line-height: 10px; /* Seems to remove vertical gaps*/
	margin: 0px;
	border: 0px;
/*	padding: 3px 0px 3px 0px; */
}
.ui-dynatree-folder
{
	font-weight: bold;
}

.ui-dynatree-selected
{
}
.ui-dynatree-selected a
{
	background-color: #DFDBCE; /* gray */
}
.ui-dynatree-focused
{
}
