.ui-dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: smaller;

	line-height: 0;

	white-space: nowrap;

	padding: 3;
	background-color: white;
	border: 1px dotted black;
/*	border-width: 2;
	border-style: inset;
	border-color: buttonhighlight;*/
}

.ui-dynatree-container a,
.ui-dynatree-container a:visited
{
	text-decoration: none;
	color: black;
	outline: 0; /* @ Firefox, prevent dotted border after click */
}

.ui-dynatree-container a:hover
{
	text-decoration: underline;
}
.ui-dynatree-container a:focus
{
	text-decoration: none;
/*	background-color: Gray; */
	border: dashed 1px blue;
}
.ui-dynatree-container a:active
{
	text-decoration: none;
	background-color: Gray;
}
.ui-dynatree-container img
{
	border-width: 0;
/*	width: 16;
	height: 16;*/
}
.tnLevelN
{
}
.ui-dynatree-folder
{
	font-weight: bold;
	color: graytext;
	vertical-align: middle;
/*	background-color:#DDDDDD;
	padding: 0;
	margin: 0;
	border-width: 0;*/
}
