div.ui-dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	white-space: nowrap; /* better to set it by default, imho */
	padding: 3px;
	color: black;
	
	background-color: white; 
	border: 1px dotted gray;
}

/* Style, when control is disabled */
.ui-dynatree-disabled
{
	opacity: 0.5;
	filter: alpha(opacity=50);
/*	background-color: gray !important;*/ 
	/*	cursor: wait; */
}
/*
.ui-dynatree-container img
{
	border-width: 0px;
	width: 16px;
	height: 16px;
	vertical-align: bottom; /* correctly align img */
}
*/

img.ui-dynatree-expander
{
	cursor: pointer;
}

span.ui-dynatree-checkbox
{
	width: 13px;
	height: 13px;
/*	padding-right: 16px; */
	margin-left: 3px;
	margin-right: 3px;
/*	padding-bottom: 2px;*/
	vertical-align: center;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("cbUnchecked.gif");
}
span.ui-dynatree-checkbox:hover
{
	background-image: url("cbUnchecked_hover.gif");
}


.ui-dynatree-partsel span.ui-dynatree-checkbox
{
	background-image: url("cbIntermediate.gif");
}
.ui-dynatree-partsel span.ui-dynatree-checkbox:hover
{
	background-image: url("cbIntermediate_hover.gif");
}

.ui-dynatree-selected span.ui-dynatree-checkbox
{
	background-image: url("cbChecked.gif");
}
.ui-dynatree-selected span.ui-dynatree-checkbox:hover
{
	background-image: url("cbChecked_hover.gif");
}

span.ui-dynatree-icon
{
	width: 16px;
	height: 16px;
	border-width: 0px;
	margin: 0px;
	margin-left: 3px;
	margin-right: 3px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: left;
	background-image: url("ltDoc.gif");
}

.ui-dynatree-folder span.ui-dynatree-icon
{
	background-image: url("ltFld.gif");
}

.ui-dynatree-folder.ui-dynatree-expanded  span.ui-dynatree-icon
{
	background-image: url("ltFld_o.gif");
}



.ui-dynatree-document,
.ui-dynatree-folder
{
/*	line-height: 16px; /* should be the same as img height, in case 16 px */
/*	margin: 0px;
	border: 0px;
	color: black;*/
}
.ui-dynatree-folder
{
	font-weight: bold;
}

.ui-dynatree-container a,
.ui-dynatree-container a:link,
.ui-dynatree-container a:visited,
.ui-dynatree-container a:active 
{
	color: inherit;
	text-decoration: none;
/*	outline: 0; /* @ Firefox, prevent dotted border after click */
/*	margin-left: 5px;
	padding: 0px 3px 0px 3px; */
/*	vertical-align: text-top;*/
/*	vertical-align: top; */
	vertical-align: text-top;
}

.ui-dynatree-container a:hover
{
	text-decoration: underline;
}

.ui-dynatree-focused
{
}

.ui-dynatree-container a:focus
{
	background-color: #EFEBDE; /* light gray */
}

.ui-dynatree-container a:focus,
.ui-dynatree-focused a,
.ui-dynatree-focused a:link
{
	background-color: #EFEBDE; /* gray */
}

.ui-dynatree-expanded
{
}

.ui-dynatree-selected
{
	color: blue;
	font-style: italic;
}

.ui-dynatree-active
{
}

.ui-dynatree-active a
{
	background-color: #3169C6 !important;
	color: white !important; /* @ IE6 */
}

