.ui-dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /*smaller;*/

	line-height: 0;

	white-space: nowrap;

	padding: 3;
	background-color: white; 
	border: 1px dotted gray;
}

.ui-dynatree-container a,
.ui-dynatree-container a:visited
{
	text-decoration: none;
	color: black;
	outline: 0; /* @ Firefox, prevent dotted border after click */
}
.ui-dynatree-container a:hover
{
	text-decoration: underline;
}
.ui-dynatree-container a:active
{
	text-decoration: none;
}

.ui-dynatree-container a:focus
{
	text-decoration: none;
	background-color: #3169C6;
	color: white;
	border: dotted 1px black;
}

.ui-dynatree-container img
{
	border-width: 0;
	width: 16;
	height: 16;
}

.ui-dynatree-folder
{
	font-weight: bold;
}

.ui-dynatree-selected
{
/*	background-color: #EFEBDE; /* gray */
}
.ui-dynatree-selected a
{
	background-color: #EFEBDE; /* gray */
}
.ui-dynatree-focused
{
/*	background-color: #3169C6; /* blue */
/*	border: 1px dotted white; */ 
}
